
 body {
   color: black;
 }

#footer {
  text-align: center;
}

#homepagename {
  text-align: center;
  font-size: 80px;
  color: black;
}
.button {
  background-color: black;
  border: none;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  width: 150px;
  height: 75px;
  text-align: center;
  font-size: 25px;
  line-height: 80px;
}

.quiz {
  font-family: "Trebuchet MS";
  color: #363636;
  font-weight: bold;
  text-align: center;
  background-image: url(https://image.freepik.com/free-photo/table-top-with-background_1404-28.jpg);
  background-size: cover;
  background-position: center;
}

#gif {
  height:20%;
  width:30%;
}

alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}


.closebtn:hover {
    color: black;
}

.quizbutton {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.background {
  background-position: center;
  background-size: cover;
}

.boxone {
  background-color: black;
  border: none;
  color: white;
  font-family: "Raleway";
  font-weight: bold;
  width: 500px;
  height: 70px;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
}
