<!DOCTYPE html>
<html>
<head>

<body>
<div class="box">
    <center>
      <h1><%=@results[0]%></h1>
      <a href=<%=@results[4]%>><img src=<%=@results[3]%> style="width: 500px; height=100%"></a>
    <h3><%=@results[2]%></h3>
    </center>



  </div>
</body>
</html>

