
<!DOCTYPE html>
<html>
<head>
<title>Eat Safe Chicago</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>


<body>

<div>
  <div>
    <h1>eat.safe</h1>
    
  <!--  <div id="alert">-->
  <!--   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
  <!--Click here to take our quiz!-->
  <!--    <a href='/quiz.erb' class="button"> <button class="quizbutton">Quiz</button> </a>-->
  <!--  </div>-->

    </div>
  <div>
    <p><a href="/quiz" >quiz</a></p>
    <p><a href="/resources">resources</a></p>
  </div>
 
  <br><br><br>
  
  
  <div class="alert">
    <strong>Click here to take our quiz!</strong> 
    <a href='/quiz' class="button"> <button class="quizbutton">Quiz</button> </a>
  </div>
  
  <div>
    <p>enjoy chicago's food, allergen and worry free</p>
    <p>created by Meredith, Rowa, and Ananya</p>
  </div>
</div>
   
  </div>
</div>

</body>

</html>
