
<!DOCTYPE html>
<html>
<head>
<title>Eat Safe Chicago</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/style.css">
</head>


<body class="background" background="https://wallpapershome.com/images/wallpapers/texture-4500x3000-4k-5k-wallpaper-8k-wood-background-6199.jpg">
  
  <br>
  <br>
  <div>
    <p class="button"><a href="/quiz" >quiz</a></p>
    <p class="button"><a href="/resources">about</a></p>
  </div>

<div>
  <div>
    <div>
      <center>
        <div id="header_out">
          <h1 id="header_eat">eat.safe</h1>
        </div>
      </center>
    </div>
    
  <!--  <div id="alert">-->
  <!--   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
  <!--Click here to take our quiz!-->
  <!--    <a href='/quiz.erb' class="button"> <button class="quizbutton">Quiz</button> </a>-->
  <!--  </div>-->

    </div>
  <br><br><br>
  

  <br>
  <br>
  <br>
  <br>
  
  <div class="boxone">
    <br>
    <br>
    <p> &ensp;enjoy chicago's food, allergen and worry free</p>
    <p> &ensp;created by Meredith, Rowa, and Ananya</p>
  </div>
</div>
   
  </div>
</div>

</body>

</html>
