<!DOCTYPE html>
<html>
    <head>
        <title>eat.safe Quiz</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet"type="text/css"href="/style.css">
    </head>
    
    <body class="quiz">
      
      <div class "header"><header>
        <div class="header-right">
          <a class="active"href="/">Home</a>
        </div></header>
      </div>
        
      <br>
        
        <h2>Take this quiz to find out which restaurants will accommodate your specific food allergies!</h2>
        
         <img id="gif" src="https://media.giphy.com/media/rnXomlWfQ1t96/giphy.gif">
        
        <form method="POST" action="/answer">
          <br>
          <br>
          
            <h3>What's your name?</h3>
            <input type="text" name="name">
            <br>
            
            <br>
            <h3>What is your allergy or intolerance?</h3>
                <input type="radio" name="allergy" value="1">Nuts<br>
                <input type="radio" name="allergy" value="2">Dairy (lactose intolerance)<br>
                <input type="radio" name="allergy" value="3">Shellfish<br>
                <input type="radio" name="allergy" value="4">Wheat/Gluten<br>
            
            <br>
            
            <h3>What cuisine are you in the mood for?</h3>
                <input type="radio" name="cuisine" value="10">Asian<br>
                <input type="radio" name="cuisine" value="20">American<br>
                <input type="radio" name="cuisine" value="30">Italian<br>
                <input type="radio" name="cuisine" value="40">Mexican<br>
                <input type="radio" name="cuisine" value="50">Mediterranean<br>
                <input type="radio" name="cuisine" value="60">Vegan<br>
                <input type="radio" name="cuisine" value="70">Dessert<br>
            
            <br>
            
            <h3>How much are you looking to spend?</h3>
                <input type="radio" name="price" value="100">$<br>
                <input type="radio" name="price" value="200">$$<br>
                <input type="radio" name="price" value="300">$$$<br>
              
            
            <br>
            <input class ="button" type="submit">
            <!--Submit</button>-->
            
        </form>
        
    </body>
</html>
